.shopcategory-banner{
    display: block;
    margin: 30px auto;
    margin-top: 83px;
    width: 100%;
}
.shopcategory-indexsort{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 170px;
}
.shopcategory-indexsort p span{
    font-weight: 600;
}
.shopcategory-sort{
    padding:10px 20px;
    border-radius: 40px;
    border: 1px solid #888;
}
.shopcategory-products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    margin:20px 98px;
}
.shoploadmore{
    width: 233px;
    height: 67px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 50px;
    background: #29393e;
    color: #ffffff;
    margin: 150px auto;
    border-radius: 75px;
    font-size: 18px;
    font-weight: 500;
}